<h4>TeacherSubjectBySemester</h4>

<mat-form-field>
  <mat-select placeholder="Favorite food" [(ngModel)]="selectedTeacher" (ngModelChange)="onTeacherSelection()">
    <mat-option *ngFor="let teacher of dataSourceTeacher" [value]="teacher.id">
      {{ teacher.name }}
    </mat-option>
  </mat-select>
  <mat-hint>(change) event</mat-hint>
</mat-form-field> <br/><br/>

<mat-form-field *ngIf="selectedTeacher!=null">
  <mat-select placeholder="Favorite food" [(ngModel)]="selectedSemester" (ngModelChange)="onSemesterSelection()">
    <mat-option *ngFor="let semester of dataSourceSemester" [value]="semester.id">
      {{ semester.name }}
    </mat-option>
  </mat-select>
  <mat-hint>(change) event</mat-hint>
</mat-form-field> <br/><br/>

<div style="margin-bottom: 10px">
  <a mat-mini-fab routerLink="/teachers/create" color="primary">
    <mat-icon>add</mat-icon>
  </a>
</div>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput  (input)="onFilterInput($event)" placeholder="Search columns" #input>
</mat-form-field>

<table *ngIf="selectedTeacher!=null && selectedSemester!=null" mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" (matSortChange)="sortData($event)">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> code </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <ng-container matColumnDef="credit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> credit </th>
    <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
  </ng-container>

  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> department </th>
    <td mat-cell *matCellDef="let element"> {{element.department}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon aria-hidden="false" [routerLink]="['/teacher/edit', element.id]" aria-label="Edit">edit</mat-icon>
      <mat-icon aria-hidden="false" (click)="onDelete(element)" aria-label="Delete">delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

